@import url(../../base/css/calendar.css);

.sys_cal_table th
{
	background-color:#fff7f1;
	border:1px solid #f78840;
	color:#e05b2f;
}
.sys_cal_cell_blank
{
	background-color:white;
	border-color:#f78840;
}
.sys_cal_cell
{
	border:1px solid #f78840;
	background-color:#fff7f1;
}
.viewAllMembers
{
	font-weight:bold;
}